@tailwind utilities;
/* @tailwind components; */
/* @tailwind utilities; */

/* @font-face {
  font-family: "BaiReg";
  src: url("./assets/fonts/BaiJamjuree-Regular.ttf");
}

@font-face {
  font-family: "BaiBold";
  src: url("./assets/fonts/BaiJamjuree-Bold.ttf");
}

@font-face {
  font-family: "BaiItalic";
  src: url("./assets/fonts/BaiJamjuree-Italic.ttf");
}

@font-face {
  font-family: "BaiMedium";
  src: url("./assets/fonts/BaiJamjuree-Medium.ttf");
} */
